extends ./layouts/_main

block title 
	title Главаня

block content
	include ./components/_header-services
	//- include ./sections/_banner
	include ./sections/_featured
	include ./sections/_advantages
	include ./sections/_home-catalog
	include ./components/_hero
	