<!DOCTYPE html>
html(lang="ru")
head
  meta(charset="UTF-8")
  title Магазин | Список страниц
  link(rel="stylesheet", href="css/main.min.css")
body
  section.section
    .container
      .columns.is-multiline
        .column.is-12-touch.is-3-desktop.is-2-widescreen
          a(href="home.html").page-link
            span Главная
            .page-link__image
              img(src="img/design/png/no-image-icon.png", alt="Главная")
        .column.is-12-touch.is-3-desktop.is-2-widescreen
          a(href="catalog.html").page-link
            span Каталог
            .page-link__image
              img(src="img/design/png/no-image-icon.png", alt="Каталог")
        .column.is-12-touch.is-3-desktop.is-2-widescreen
          a(href="product.html").page-link
            span Товар
            .page-link__image
              img(src="img/design/png/no-image-icon.png", alt="Товар")
        .column.is-12-touch.is-3-desktop.is-2-widescreen
          a(href="cart.html").page-link
            span Корзина
            .page-link__image
              img(src="img/design/png/no-image-icon.png", alt="Корзина")
        .column.is-12-touch.is-3-desktop.is-2-widescreen
          a(href="checkout.html").page-link
            span Заказ
            .page-link__image
              img(src="img/design/png/no-image-icon.png", alt="Заказ")
        .column.is-12-touch.is-3-desktop.is-2-widescreen
          a(href="register.html").page-link
            span Регистрация
            .page-link__image
              img(src="img/design/png/no-image-icon.png", alt="Регистрация")
        .column.is-12-touch.is-3-desktop.is-2-widescreen
          a(href="login.html").page-link
            span Вход
            .page-link__image
              img(src="img/design/png/no-image-icon.png", alt="Вход")
        .column.is-12-touch.is-3-desktop.is-2-widescreen
          a(href="dashboard.html").page-link
            span Личный кабинет
            .page-link__image
              img(src="img/design/png/no-image-icon.png", alt="Личный кабинет")
        