section.section.advantages
	.container
		.columns.is-multiline
			.column.is-6-tablet.is-3-desktop
				.advantages__item
					.advantages__img
						img(src="./img/advantages/shipping.png", alt="")
					.advantages__content
						h3.advantages__title Бесплатная доставка
						p.advantages__text При заказе от 1500₽ в пределах МКАД
			.column.is-6-tablet.is-3-desktop
				.advantages__item
					.advantages__img
						img(src="./img/advantages/support.png", alt="")
					.advantages__content
						h3.advantages__title Круглосуточная поддержка
						p.advantages__text Ответим на все Ваши вопросы в любое время
			.column.is-6-tablet.is-3-desktop
				.advantages__item
					.advantages__img
						img(src="./img/advantages/return.png", alt="")
					.advantages__content
						h3.advantages__title Возврат денег
						p.advantages__text Если товар Вам не подошел
			.column.is-6-tablet.is-3-desktop
				.advantages__item
					.advantages__img
						img(src="./img/advantages/payment.png", alt="")
					.advantages__content
						h3.advantages__title Удобная оплата
						p.advantages__text Любыми способами