section.banner
	.container
		.banner__slider.owl-carousel
			.banner__slide(style="background-image: url(./img/banner/banner-1.jpg)")
				.slide__content
					h2.h2.slide__title Sldie title
					p.slide__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Которой великий образ это большой агенство парадигматическая все предупредила оксмокс жизни грустный. Выйти там реторический, она заглавных на берегу свою рыбного!
					a(href="#").button.is-outlined.slide__link Каталог
			.banner__slide(style="background-image: url(./img/banner/banner-2.jpg)")
				.slide__content
					h2.h2.slide__title Sldie title
					p.slide__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Которой великий образ это большой агенство парадигматическая все предупредила оксмокс жизни грустный. Выйти там реторический, она заглавных на берегу свою рыбного!
					a(href="#").button.is-outlined.slide__link Каталог
			.banner__slide(style="background-image: url(./img/banner/banner-3.jpg)")
				.slide__content
					h2.h2.slide__title Sldie title
					p.slide__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Которой великий образ это большой агенство парадигматическая все предупредила оксмокс жизни грустный. Выйти там реторический, она заглавных на берегу свою рыбного!
					a(href="#").button.is-outlined.slide__link Каталог