
section.section
	.container
		h1.title Корзина
		.columns.is-multiline
			.column.is-12-touch.is-8-desktop
				include ../components/_cart-table
			.column.is-12-touch.is-4-desktop
				include ../components/_cart-total
