section.section.checkout
	.container
		.columns
			.column.is-10.is-6-desktop
				include ../components/_checkout-form
			.column.is-1.is-hidden-touch
				.vertical-line
			.column.is-5.is-hidden-touch
				include ../components/_checkout-cart
			