include ../components/_product-link
section.section.home-catalog
	.container
		h2.section-title(data-mask="Популярное") - Лидеры продаж
		.columns.is-multiline.is-mobile
			.column.is-6-mobile.is-3-tablet
				+product-link('#', './img/products/product-1.jpg', 'Название', '2 025')
			.column.is-6-mobile.is-3-tablet
				+product-link('#', './img/products/product-1.jpg', 'Название', '2 025')
			.column.is-6-mobile.is-3-tablet
				+product-link('#', './img/products/product-1.jpg', 'Название', '2 025', '1 222')
			.column.is-6-mobile.is-3-tablet
				+product-link('#', './img/products/product-1.jpg', 'Название', '2 025')
			.column.is-6-mobile.is-3-tablet
				+product-link('#', './img/products/product-1.jpg', 'Название', '2 025', '', 'new')
			.column.is-6-mobile.is-3-tablet
				+product-link('#', './img/products/product-1.jpg', 'Название', '2 025')
			.column.is-6-mobile.is-3-tablet
				+product-link('#', './img/products/product-1.jpg', 'Название', '2 025')
			.column.is-6-mobile.is-3-tablet
				+product-link('#', './img/products/product-1.jpg', 'Название', '2 025')
