section.section
	.container
		.columns
			.column.is-6.is-offset-3
				form.box.form.m-t-30.m-b-30
					h2.title.has-text-centered Вход
					.field
						label.label Email
						.control
							input.input(type="email", placeholder="Ваш email")
					.field.m-b-10
						label.label Пароль
						.control
							input.input.m-b-5(type="password", placeholder="Ваш пароль")
					.field.is-grouped-multiline.is-grouped
						.control
							a(href="#").button.is-primary Войти
						.control.m-t-5
							a(href="#") Забыли пароль?