
<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column"><a href="#" class="footer__logo">Логотип</a></div>
      <div class="column">
        <h3 class="footer__column-title">Название колонки</h3><a href="#" class="footer__link">Ссылка</a>
      </div>
      <div class="column">
        <h3 class="footer__column-title">Название колонки</h3><a href="#" class="footer__link">Ссылка</a><a href="#" class="footer__link">Ссылка</a><a href="#" class="footer__link">Ссылка</a>
      </div>
      <div class="column">
        <h3 class="footer__column-title">Название колонки</h3><a href="#" class="footer__link">Ссылка</a>
      </div>
    </div>
  </div>
</footer>