<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block title
      title Default title
    link(rel="stylesheet", href="css/main.min.css")
    script(defer, src="js/main.min.js")
    block styles
  body
    .side-menu
      include ../components/_search
      include ../components/_side-menu
    .wrapper
      .wrapper__overlay
      include ../components/_header
      block content
        p Default content
      include ../components/_footer

