.box.cart-total
	h2.cart-total__title.subtitle Оформление заказа
	//- p Промокод: 
	//- .field
	//- 	.control
	//- 		input.input(type="text")
	p Сумма вашей покупки: 
	p.cart-total__price 0
	a(href="#").button.is-fullwidth.is-primary Оформить заказ
