a(href="#").is-hidden-tablet.filter-btn.button.is-fullwidth Фильтр
.filter
	p.title.is-4.is-hidden-mobile Фильтр
	.filter__item
		p.filter__title По цене
		input.js-range-slider(type='text', name='my_range', value='', data-type='double', data-min='0', data-max='54000', data-step="1000",data-postfix="₽")
	.filter__item
		p.filter__title По брэнду
		.buttons
			a(href="#").button.is-small louis vuetton
			a(href="#").button.is-small.is-active Boss
			a(href="#").button.is-small.is-active Armani
			a(href="#").button.is-small Bosco
			a(href="#").button.is-small Bosco
			a(href="#").button.is-small Bosco
			a(href="#").button.is-small Bosco
			a(href="#").button.is-small Bosco
			a(href="#").button.is-small Bosco
			a(href="#").button.is-small Bosco
	.filter__item
		p.filter__title По Размеру
		.buttons
			a(href="#").button.is-small XS
			a(href="#").button.is-small S
			a(href="#").button.is-small M
			a(href="#").button.is-small L
			a(href="#").button.is-small XL
	.filter__item
		p.filter__title По цвету
		.buttons
			a(href="#").button.is-small.is-rounded.color
				span.color_red 
			a(href="#").button.is-small.is-rounded.color
				span.color_green 
			a(href="#").button.is-small.is-rounded.color
				span.color_dark 
			a(href="#").button.is-small.is-rounded.color
				span.color_yellow
			a(href="#").button.is-small.is-rounded.color
				span.color_white
	.filter__item
		p.filter__title По материалу
		.buttons
			a(href="#").button.is-small Кожа
			a(href="#").button.is-small Замша
			a(href="#").button.is-small Велюр
	.filter__item
		a(href="#").is-visible-mobile.filter-btn.button.is-fullwidth.is-success.m-b-10 Применить
		a(href="#").is-visible-mobile.filter-btn.button.is-fullwidth.is-danger Сбросить