footer.footer
	.container
		.columns
			.column
				a(href="#").footer__logo Логотип
			.column
				h3.footer__column-title Название колонки
				a(href="#").footer__link Ссылка
			.column
				h3.footer__column-title Название колонки
				a(href="#").footer__link Ссылка
				a(href="#").footer__link Ссылка
				a(href="#").footer__link Ссылка
			.column
				h3.footer__column-title Название колонки
				a(href="#").footer__link Ссылка