.product-gallery
	.screen
		img(src="./img/products/product-1.jpg", alt="")
	.thumbs
		.thumbs__item.is-active
			a(href="#")
				img(src="./img/products/product-1.jpg", alt="")
		.thumbs__item
			a(href="#")
				img(src="./img/products/product-3.jpg", alt="")
		.thumbs__item
			a(href="#")
				img(src="./img/products/product-2.jpg", alt="")
		.thumbs__item
			a(href="#")
				img(src="./img/products/product-1.jpg", alt="")
		.thumbs__item
			a(href="#")
				img(src="./img/products/product-1.jpg", alt="")
		