.product-info
	h2.title.product__title Далеко-далеко за словесными горами в стране, гласных и согласных.
	.price
		p.product__price.product__price_new 25 000
		p.product__price.product__price_old 36 000
	.rating
		.rating__stars(data-rating=4)
			span.rating__star
				i.fas.fa-star
			span.rating__star
				i.fas.fa-star
			span.rating__star
				i.fas.fa-star
			span.rating__star
				i.fas.fa-star
			span.rating__star
				i.far.fa-star
		.rating__feedbacks
			a(href="#") 15 отзывов
	.description
		p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Даль осталось агенство использовало злых, дал грамматики буквоград власти. Алфавит страна буквоград вскоре над текст пунктуация рукопись деревни, вопрос знаках.
	.additional.size
		p.size__title Выберите размер:
		.buttons
			a(href="#").button XS
			a(href="#").button S
			a(href="#").button M
			a(href="#").button L
			a(href="#").button XL
	.additional.colors
		p.size__title Выберите цвет:
		.buttons
			a(href="#").button.is-small.is-rounded.color
				span.color_red 
			a(href="#").button.is-small.is-rounded.color
				span.color_green 
			a(href="#").button.is-small.is-rounded.color
				span.color_dark 
			a(href="#").button.is-small.is-rounded.color
				span.color_yellow
			a(href="#").button.is-small.is-rounded.color
				span.color_white
	.add-to-cart
		a(href="#").button.is-primary.to-cart В корзину
		a(href="#").one-click Купить в один клик
	.feedbacks
		.feedbacks__header
			p Отзывы:
			.feedbacks__nav
				a(href="#").prev
					i.fas.fa-chevron-left
				a(href="#").next
					i.fas.fa-chevron-right
		.feedbacks__screen.owl-carousel
			.feedback
				.feedback__header
					p.feedback__name Анна Петренко
					.rating
						.rating__stars(data-rating=4)
							span.rating__star
								i.fas.fa-star
							span.rating__star
								i.fas.fa-star
							span.rating__star
								i.fas.fa-star
							span.rating__star
								i.fas.fa-star
							span.rating__star
								i.far.fa-star
				.feedback__date.has-text-grey-light.is-size-7
					p 28/12/2018
				.feedback__text
					p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Встретил океана сбить злых букв своего большого все заглавных текстами?
			.feedback
				.feedback__header
					p.feedback__name Анна Петренко
					.rating
						.rating__stars(data-rating=4)
							span.rating__star
								i.fas.fa-star
							span.rating__star
								i.fas.fa-star
							span.rating__star
								i.fas.fa-star
							span.rating__star
								i.fas.fa-star
							span.rating__star
								i.far.fa-star
				.feedback__date.has-text-grey-light.is-size-7
					p 28/12/2018
				.feedback__text
					p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Встретил океана сбить злых букв своего большого все заглавных текстами?
			.feedback
				.feedback__header
					p.feedback__name Анна Петренко
					.rating
						.rating__stars(data-rating=4)
							span.rating__star
								i.fas.fa-star
							span.rating__star
								i.fas.fa-star
							span.rating__star
								i.fas.fa-star
							span.rating__star
								i.fas.fa-star
							span.rating__star
								i.far.fa-star
				.feedback__date.has-text-grey-light.is-size-7
					p 28/12/2018
				.feedback__text
					p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Встретил океана сбить злых букв своего большого все заглавных текстами?
