ul
	li
		a(href="#") Главная
	li.has-submenu
		a(href="#") Каталог
		ul
			li
				a(href="#") Женщинам
			li
				a(href="#") Мужчинам
			li
				a(href="#") Аксессуары
	li
		a(href="#") О нас
	li
		a(href="#") Новости
	li
		a(href="#") Контакты